{% extends "base_modal.html" %}

{% block id %}confirmModal{% endblock %}

{% block title %}{{ _("Confirm") }}{% endblock %}

{% block body %}
    <p id="dialogConfirmText" class="mb-0"></p>
{% endblock %}

{% block footer %}
    <div class="flex justify-between w-full">
        <button type="button"
                class="px-4 py-2 rounded border border-gray-400 text-gray-600 hover:bg-gray-100"
                id="dialogDismissBtn">
            {{ _("No") }}
        </button>

        <button type="button"
                class="px-4 py-2 rounded text-white"
                id="dialogConfirmBtn">
            {{ _("Yes") }}
        </button>
    </div>
{% endblock %}
