{% extends "base_example.html" %}
{% block title %}{{ _('Home') }}{% endblock %}
{% block content %}
    <div class="flex flex-col min-h-[100dvh] items-center justify-center px-6 py-8">
        <h2 class="text-2xl font-semibold">{{ _('Welcome!') }}</h2>
        <p class="mt-2">{{ _('This is your wonderful new app.') }}</p>

        <img src="{{ url_for(NAME ~ '.static', filename='picture.jpg') }}"
             alt="{{ _('Picture') }}"
             class="w-full max-w-md rounded mx-auto mt-4">
    </div>
{% endblock %}
