{% extends "base_example.html" %}
{% block title %}{{ _('Not found') }}{% endblock %}
{% block content %}
    <div class="flex flex-col min-h-[100dvh] items-center justify-center px-6 py-8">
        <h2 class="text-2xl font-semibold">{{ _('404 - Page not found') }}</h2>
        <p class="mt-2">{{ _("We are sorry, but the requested page doesn't exist.") }}</p>
        <p class="mt-4">
            <a href="/" class="text-primary underline">{{ _('Back Home') }}</a>
        </p>
    </div>
{% endblock %}
