<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">

    <style>
        body{margin:0;padding:0}
        table,td,tr{border-collapse:collapse;vertical-align:top}
        p{margin:0}
        *{line-height:inherit}
    </style>
</head>

<body>
<table role="presentation" id="u_body" width="100%" cellpadding="0" cellspacing="0"
       style="background-color:#f7f8f9;min-width:320px;">
    <tr>
        <td align="center">

            <table role="presentation" width="600" cellpadding="0" cellspacing="0"
                   style="background-color:#ffffff;font-family:'Cabin',sans-serif">

                <tr>
                    <td>
                        {% block brand %}{% endblock %}
                    </td>
                </tr>

                <tr>
                    <td>
                        {% block content %}{% endblock %}
                    </td>
                </tr>

                <tr>
                    <td>
                        {% block legal %}{% endblock %}
                    </td>
                </tr>

                <tr>
                    <td>
                        {% block socials %}{% endblock %}
                    </td>
                </tr>

                <tr>
                    <td>
                        {% block copy %}{% endblock %}
                    </td>
                </tr>

            </table>

        </td>
    </tr>
</table>
</body>
</html>
