<div class="relative w-full md:w-auto">
    <details class="group">
        <summary class="nav-dropdown-summary nav-link inactive {{ dropdown.classes }}">
            <span>{{ _(dropdown.label, False) }}</span>

            <svg viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M7 5l6 5-6 5V5z"
                      clip-rule="evenodd"></path>
            </svg>
        </summary>

        <div class="nav-dropdown-menu">
            {% for link in dropdown.links %}
                {% if link %}
                    <a href="{{ link.href }}" class="nav-dropdown-link {{ link.classes }}">
                        {{ _(link.label, False) }}
                    </a>
                {% else %}
                    <span class="nav-dropdown-divider"></span>
                {% endif %}
            {% endfor %}
        </div>
    </details>
</div>